.a {
	display: block;
	width: 50px;
	height: 50px;
	background: red;
}

header {
	position: fixed;
	left: 1%;
	width: 98%;
	height: 14%;
	border: 1px solid black;
	border-radius: 5px;
	background: rgb(255,255,255,0.5);
}

.shadow {
	box-shadow: 0px 0px 0px white;
	animation: shadow 1s linear infinite;
}
@keyframes shadow {
	0% {box-shadow: 0px 0px 0px white}
	50% {box-shadow: 0px 0px 20px white}
	100% {box-shadow: 0px 0px 0px white}
}

.mig {
	opacity: 0;
	animation: mig 1s linear infinite;
}
@keyframes mig {
	0% {opacity: 0}
	50% {opacity: 1}
	100% {opacity: 0}
}

#money {
	position: fixed;
	width: 6%;
	height: 12.5%;
	top: 2%;
	left: 1%;
	cursor: default;
}

#money_img {
	position: fixed;
	width: 6%;
	height: 12.5%;
	top: 2%;
	left: 1%;
	background-image: url("../images/money.png");
	background-size: 103%;
	cursor: default;
}

#trend {
	position: absolute;
	top: 7%;
	left: 7.5%;
	cursor: default;
	z-index: 1001;
}

#brilliant {
	display: block;
	position: fixed;
	top: 2%;
	right: 1.5%;
	width: 6%;
	height: 12.5%;
	background-image: url("../images/brilliant.png");
	background-position-x: center;
	background-size: 103%;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	text-shadow: 0px 0px 5px white;
	z-index: 1001;
}

#level_game {
	display: block;
	position: fixed;
	top: 2%;
	left: 45%;
	width: 6%;
	height: 12.5%;
	background-image: url("../images/castle.jpg");
	background-size: 103%;
	border-radius: 5px;
	cursor: default;
	text-align: center;
	text-shadow: 0px 0px 5px white;
	z-index: 1001;
}

#next_level_game {
	position: fixed;
	display: none;
	top: 35%;
	left: 27.5%;
	width: 45%;
	height: auto;
	background: rgb(0,0,0,0.7);
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	color: gold;
	z-index: 5;
}

#cancel_level_game_button {
	position: absolute;
	display: block;
	bottom: 1%;
	left: 1%;
	width: 20%;
	height: auto;
	border: 1px solid black;
	border-radius: 5px;
	background: rgb(255,255,255,0.3);
	cursor: pointer;
	text-align: center;
}

#next_level_game_button {
	position: absolute;
	display: block;
	bottom: 1%;
	right: 1%;
	width: 20%;
	height: auto;
	border: 1px solid black;
	border-radius: 5px;
	background: rgb(255,255,255,0.3);
	cursor: pointer;
	text-align: center;
}

#quest {
	display: block;
	position: fixed;
	top: 2%;
	left: 70%;
	width: 6%;
	height: 12.5%;
	background-image: url("../images/star.png");
	background-color: rgb(255,0,0,0.5);
	background-position-x: center;
	background-size: 100%;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	z-index: 1001;
}

#questions {
	position: fixed;
	display: none;
	top: 20%;
	left: 27.5%;
	width: 45%;
	height: auto;
	background: rgb(0,0,0,0.7);
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	color: gold;
	z-index: 5;
}

#quest_block {
	position: fixed;
	display: none;
	top: 17%;
	right: 24.4%;
	width: 20%;
	height: 46%;
	background: rgb(0,0,0,0.2);
	border: 1px solid black;
	border-radius: 5px;
}

#box_timer {
	position: fixed;
	display: none;
	top: 17%;
	right: 19%;
	height: 10.6%;
	background-image: url("../images/timer2.png");
	background-color: rgb(0,255,0,0.2);
	background-position-x: center;
	background-size: 100%;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

#box_timer_pause {
	position: fixed;
	display: none;
	top: 17%;
	right: 19%;
	width: 5%;
	height: 10.6%;
	background-image: url("../images/timer2.png");
	background-color: rgb(0,255,0,0.2);
	background-position-x: center;
	background-size: 100%;
	border: none;
	text-align: center;
	border-radius: 50%;
	opacity: 0.5;
	cursor: pointer;
}

#box_timer_2 {
	position: absolute;
	display: block;
	left: 50%;
	width: 1%;
	height: 50%;
	background-color: black;
	transform-origin: 0 100%;
}

.quest_box {
	position: absolute;
	top: 0.5%;
	width: 25%;
	height: 23%;
	border-radius: 5px;
	user-select: none;
	text-align: center;
	background-size: 100%;
	background-repeat: no-repeat;
}

#quest_box_1 {
	position: absolute;
	display: block;
	left: 1%;
}

#quest_box_2 {
	position: absolute;
	display: block;
	top: 25%;
	left: 1%;
}

#quest_box_3 {
	position: absolute;
	display: block;
	top: 50%;
	left: 1%;
}

#quest_box_4 {
	position: absolute;
	display: block;
	top: 75%;
	left: 1%;
	background-position-y: 20%;
}

.q {
	width: 100%;
	height: 100%;
	background-size: 100%;
	border: 1px solid black;
	border-radius: 5px;
}
